/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #1e1c1c;
}



.banner{
    width: 100%;
}

/* NAV FAIXA MENU */

.logo{
  margin-left: 40px;
}

.nav {
    max-width: 1280px;
    height: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131111;
  }
 
.nav-list {
  display: flex;
  gap: 52px;
  list-style: none;
  margin-right: 50px;
}

.nav-list a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding-block: 16px;
  transition: color 0.3s ease; /* Suaviza a transição de cor */
}

.nav-list a:hover{
  color: #d5e035; /* Cor azul ao passar o mouse */
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
  margin-right: 40px;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.secao{
    background-color: #0a0a0a;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 50px;
}

.conteudo {
  border-style: solid;
  margin-top: 60px;
  margin-left: 0px;
  border-width: 6px 0px 6px 0px;
  border-radius: 5px;
  border-color: #ece68c;
  box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.397);
  background-color: #0e0c0c;
  flex-wrap: wrap;
  width: 360px;
  height: 385px;
  padding: 30px 20px;
  cursor: pointer;
  text-align: center;

}

.conteudo:hover{
  transform: scale(1.05); /* Aumenta o tamanho em 5% */
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

h1{
  color: white;
  margin-top: 15px;
  font-size: 30px;
}

p{
  color: white;
  margin-top: 25px;
  font-size: 20px;
  font-family: "Raleway" sans-serif;
}

.rodape{
  height: 160px;
  padding-top: 20px; 

}

h2{
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 20px;
  font-family: 'Lexend', sans-serif;
}

.email{
  text-align: center;
  margin-top: -37px;
  margin-left: 23px;
  font-size: 22px;
  font-family: 'raleway', sans-serif;
}

.i1{
  width: 3%;
  margin-left: 470px;
  margin-top: 47px;

}

.email2{
  text-align: center;
  margin-top: -37px;
  margin-left: 30px;
  font-size: 22px;
  font-family: 'raleway', sans-serif;
}

.i2{
  width: 3%;
  margin-left: 470px;
  margin-top: 28px;

}

.ins1{
  width: 3%;
  margin-left: 470px;
  margin-top: 30px;

}

.insta1{
  text-align: center;
  margin-top: -37px;
  margin-left: -68px;
  font-size: 22px;
  font-family: 'raleway', sans-serif;
}

.tel{
  width: 3%;
  margin-left: 470px;
  margin-top: 30px;
}

.telefone{
  text-align: center;
  margin-top: -37px;
  margin-left: -80px;
  font-size: 22px;
  font-family: 'raleway', sans-serif;
}

.localizacao{
  width: 3%;
  margin-left: 350px;
  margin-top: 30px;
}

.local{
  text-align: center;
  margin-top: -37px;
  margin-left: 10px;
  font-size: 22px;
  font-family: 'raleway', sans-serif;
}

@media(max-width: 768px){

  .banner{
    width: 100%;
    height: 180px;

  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #131111;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
    text-decoration: none;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .secao{
    margin-top: 0px;
    width: 100%;
  }
  
  .conteudo{
    margin-top: 20px;
    width: 95%;
  }
  h1{
    color: white;
    margin-top: 15px;
    font-size: 29px
  }
  
  p{
    color: white;
    margin-top: 25px;
    font-size: 19px;
    font-family: "Raleway" sans-serif;
  }

  .rodape{
    height: 170px;
    padding-top: 20px; 
  
  }

  
  .i1{
    width: 8%;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 47px;

  }

  
  .email2{
    text-align: center;
    margin-top: -37px;
    margin-left: 30px;
    font-size: 22px;
    font-family: 'raleway', sans-serif;
  }

  .i2{
    width: 8%;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 35px;

  }
  
  .ins1{
    width: 8%;
    margin-left: 50px;
    margin-top: 35px;

  }

  .tel{
    width: 8%;
    margin-left: 50px;
    margin-top: 35px;
  }

  .localizacao{
    width: 8%;
    margin-top: 35px;
    margin-left: 0;
  }
  
  .local{
    text-align: center;
    margin-top: -37px;
    margin-left: 20px;
    font-size: 19px;
    font-family: 'raleway', sans-serif;
  }
  
  
  
} 